:root {
  /* Color Scheme */
  --bg-color: #0a0a0a;
  --text-color: #ffffff;
  --primary-color: #00ffee;
  --accent-color: #ff4444;
  --secondary-color: #1a1a2e;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: var(--bg-color) ;
  color: var(--text-color);
  overflow-x: hidden;
}

/* ========== Header ========== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 5%;
  background: rgba(10, 10, 10, 0.9);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  border-bottom: 1px solid transparent;
  transition: 0.4s ease;
}
.header.sticky {
  border-bottom: 1px solid var(--primary-color);
  padding: 15px 8%;
}

.logo {
  font-size: 2rem;
  font-weight: 800;
  text-decoration: none;
  color: var(--text-color);
}
.logo span {
  color: var(--primary-color);
}
.navbar a {
  font-size: 1rem;
  color: var(--text-color);
  margin-left: 25px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}
.navbar a:hover,
.navbar a.active {
  color: var(--primary-color);
}
#menu-icon {
  font-size: 2.2rem;
  color: var(--text-color);
  display: none;
  cursor: pointer;
}

/* ========== Home Section ========== */
section {
  padding: 120px 8% 80px;
  position: relative;
  z-index: 1;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;

}

.home::before{
  content: "";
  position: absolute;
  inset: 0;
    background: url('../assets/images/f62658304.svg') center/cover no-repeat ;
transform: scale(1,-1);
    z-index: 0;
  pointer-events: none; 
}
.heading {
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 50px;
  background: linear-gradient(90deg, var(--primary-color), var(--accent-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heading span {
  color: var(--primary-color);
}
.home-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.content-main{
  max-width: 600px;
}
.home-content h3 {
  font-size: 2rem;
  font-weight: 700;
}
.home-content h1 {
  font-size: 4.5rem;
  font-weight: 900;
  background: linear-gradient(90deg, var(--primary-color), var(--accent-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-content p {
  font-size: 1.1rem;
  color: #ccc;
  margin: 20px 0;
  line-height: 1.8;
}

.social-media a {
  display: inline-block;
  margin: 20px 12px 20px 0;
  font-size: 1.8rem;
  color: var(--primary-color);
  transition: 0.4s;
}
.social-media a:hover {
  color: var(--accent-color);
  transform: translateY(-7px);
}

.btn-primary {
  display: inline-block;
  background: var(--primary-color);
  color: #000;
  padding: 12px 30px;
  border-radius: 50px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.4s;
  box-shadow: 0 0 20px rgba(0, 255, 238, 0.4);
  margin: 10px 8px 10px 0;
}
.btn-primary:hover {
  background: var(--accent-color);
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(255, 68, 68, 0.4);
}
.btn-secondary {
  display: inline-block;
  background: var(--accent-color);
  color: #000;
  padding: 12px 30px;
  border-radius: 50px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.4s;
  box-shadow: 0 0 20px rgba(0, 255, 238, 0.4);
  margin: 10px 8px 10px 0;
}
.btn-secondary:hover {
  background: var(--primary-color);
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(255, 68, 68, 0.4);
}
.btn-accent {
  background: var(--accent-color);
}
.btn-accent:hover {
  background: var(--primary-color);
}

.home-img {
  display: block;
}

.home-img img {
  width: 100%;
  max-width: 350px;
  border-radius: 20px;
  transition: 0.6s;
  border-radius: 50%;
  animation: float 4s ease-in-out infinite;
  background: radial-gradient(
    circle,
    rgba(0, 255, 238, 0.3) 0%,
    rgba(0, 255, 238, 0) 70%
  );
}
.home-img img:hover {
  box-shadow: 0 0 50px rgba(255, 68, 68, 0.6);
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

/* ========== About Section ========== */
.about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  gap: 2rem;
  width: 100%;
}

.about-img img {
  width: 300px;
  border-radius: 20px;
}

.heading {
  font-size: 2.3rem;
  text-align: center;
  margin-bottom: 20px;
}

.heading span {
  color: #00ffee;
}

.about-content {
  max-width: 600px;
}

.about-content h3 {
  font-size: 1.5rem;
  color: #00ffee;
  margin-bottom: 10px;
}
.about-content p{
    font-size: 1.1rem;
  color: #ccc;
  margin: 20px 0;
  line-height: 1.8;
}

/* ========== Hobbies Section ========== */
.hobbies {
  padding: 80px 8%;
}

.hobbies-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.hobbies-box {
  background: #111;
  border-radius: 20px;
  text-align: center;
  padding: 30px 20px;
  flex: 1 1 250px;
  transition: all 0.8s ease;
  box-shadow: 0 0 5px rgba(0, 255, 238, 0.055);
  border: 1px solid rgba(0, 255, 238, 0.048);
  color: #fff;
  position: relative;
  overflow: hidden;
}

.hobbies-box::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, var(--accent-color, #00ffee), #00c3ff);
  opacity: 0;
  transition: opacity 0.8s ease;
  z-index: 0;
  
}

.hobbies-box:hover::before {
  opacity: 1;
  box-shadow: 0 0 20px rgba(0, 195, 255, 0.6);
  background-position: left bottom;
  border: none;
  transform: translateY(-12px);
}


.hobbies-box {
  background: linear-gradient(
    to top,
    color-mix(in srgb, var(--primary-color), transparent 70%) 50%,
    #0a0a0a 50%
  );
  background-size: 100% 200%;
  transition: all 0.8s ease;
  color: #fff;
  box-shadow: 0 0 12px rgba(0, 255, 238, 0.15);
}

.hobbies-box:hover {
  background: linear-gradient(90deg, var(--accent-color, #00ffee), #00c3ff);
  background: linear-gradient(
    to top,
    color-mix(in srgb, var(--primary-color), transparent 70%) 0%,
    color-mix(in srgb, var(--accent-color), transparent 70%) 100%
  );
  background-size: 100% 200%;
  background-position: left bottom;
  border: none;
  box-shadow: 
    0 0 15px color-mix(in srgb, var(--primary-color), transparent 30%),
    0 0 30px color-mix(in srgb, var(--accent-color), transparent 30%);
  transform: translateY(-6px) scale(1.03);
  transition: all 1s ease;
}


.hobbies-box * {
  position: relative;
  z-index: 1;
}


.hobbies-box i {
  font-size: 3rem;
  color: #00ffee;
}

.hobbies-box h3 {
  margin: 15px 0;
  color: #fff;
}

.hobbies-box p {
  color: #ccc;
  margin-bottom: 15px;
}

.hobbies-box:hover i,
.hobbies-box:hover h3,
.hobbies-box:hover p {
  color: #000;
}

/* ========== Projects ========== */
.project {
  padding: 80px 8%;
  
}

.project-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.project-box {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  flex: 1 1 280px;
  height: 590px;
  background: #111;
  border: 1px solid rgba(0, 255, 238, 0.1);
}

.project-box img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: block;
  transition: 0.5s ease;
  object-fit: cover;
}

.project-box:hover img {
  transform: scale(1.1);
}

.project-layer {
  position: absolute;
  inset: 0;
  background: linear-gradient(135deg, rgba(0,255,238,0.95), rgba(255,68,68,0.95));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  opacity: 0;
  transition: 0.4s ease;
  padding: 20px;
}

.project-box:hover .project-layer {
  opacity: 1;
}

.project-btn-primary {
  display: inline-block;
  background: var(--primary-color);
  color: #000;
  padding: 10px 10px;
  border-radius: 50px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.4s;
  box-shadow: 0 0 20px rgba(0, 255, 238, 0.4);
  margin: 10px 8px 10px 0;
}
.project-btn-primary:hover {
  background: var(--accent-color);
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(255, 68, 68, 0.4);
}

.project-layer h4 {
    font-size: 2.3rem;
    text-align: center;
    background: linear-gradient(90deg, rgba(196, 23, 23, 0.781), var(--accent-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 15px;
}

.project-layer p {
  color: #ffffff;
  font-size: 1.2rem;
  margin: 10px 0;
}

/* ========== Contact ========== */
.contact {
  padding: 80px 8%;
}

.contact form {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.input-box input,
textarea {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: none;
  outline: none;
  border-radius: 8px;
  background: #111;
  color: #fff;
  font-size: 1rem;
  border: 1px solid rgba(0, 255, 238, 0.1);
transition: all 0.2s ease-in-out;

  /* Neumorphic normal state */
  box-shadow: 4px 4px 10px rgba(0,0,0,0.7),
              -4px -4px 10px rgba(255,255,255,0.05);
}

.input-box input {
  width: calc(50% - 5px);
}

textarea {
  resize: none;
  min-height: 150px;
}
.input-box input:focus,
textarea:focus {
  border: 1px solid #00ffee;
  background: #111;
  box-shadow: inset 4px 4px 10px rgba(0,0,0,0.7),
              inset -4px -4px 10px rgba(255,255,255,0.05);
  color: #fff;
}

.btn {
  cursor: pointer;
  font-size: 1rem;
}

/* ========== Footer ========== */
#footer {
  background: #000000;
  color: #00ffe1;
  text-align: center;
  padding: 20px 0;
  overflow: hidden;
  border-top: 2px solid #00ffe1;
  font-size: 0.9rem;
}

.footer-marquee { 
  white-space: nowrap;
  display: inline-block;
  animation: scrollText 20s linear infinite;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0 10px;
}

@keyframes scrollText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.about-img img {
  width: 100%;
  max-width: 380px;
  transition: all 0.6s ease-in-out;
  animation: float 4s ease-in-out infinite;
}

/* Floating animation */
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}



/*--------------------------------------------------------------
# Skills Section
--------------------------------------------------------------*/
.skills-section {
    padding: 20px 0% 20px;
    position: relative;
    z-index: 1;
}    
#skills .progress {
 height: 60px;
  display: block;
  background: none;
  border-radius: 0;
  margin-bottom: 12px;
}

#skills .progress .skill {
  color: #ffffff;
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
}

#skills .progress .skill .val {
  float: right;
  font-style: normal;
}

#skills .progress-bar-wrap {
  background: rgba(255, 255, 255, 0.1);
  height: 10px;
  border-radius: 20px;
  overflow: hidden;
}

#skills .progress-bar {
  width: 0%;
  height: 10px;
  border-radius: 20px;
  background: linear-gradient(90deg, var(--accent-color), #00c3ff);
  box-shadow: 0 0 15px rgba(0, 195, 255, 0.5);
  transition: width 1.8s ease, transform 0.4s ease, box-shadow 0.4s ease;
}




   /* === Copyright Section === */


.heading {
  font-size: 2.5rem;
  text-align: center;
  background: linear-gradient(90deg, var(--primary-color), var(--accent-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 15px;
}

.subheading {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.description {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 30px;
}

/* Guarantee Box */
.guarantee-box {
  text-align: center;
  font-size: 1.2rem;
  background: rgba(255,68,68,0.15);
  padding: 20px;
  border-radius: 20px;
  border: 2px dashed var(--accent-color);
  margin-bottom: 40px;
  font-weight: bold;
  transition: transform 0.5s, box-shadow 0.5s;
}
.guarantee-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px rgba(0,255,238,0.5);
}
.guarantee-box .description {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 5px;
}

/* Steps Grid */
.steps-container {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
    justify-items: center;
        justify-content: center;
    flex-wrap: wrap;
}

/* Contact Info */
.contact-info {
   background: rgba(16, 51, 50, 0.075);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  transition: 0.4s;
  text-align: center;
  margin-top: 100px;
  
}
.contact-info .heading{
    font-size: 1.5rem;
  text-align: center;
  color: linear-gradient(90deg, var(--primary-color), var(--accent-color));
}
.contact-info .subheading {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 15px;
}
.contact-info .btn-primary {
   display: inline-block;
  background: var(--primary-color);
  color: #000;
  padding: 12px 30px;
  border-radius: 50px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.4s;
  box-shadow: 0 0 20px rgba(0, 255, 238, 0.4);
  margin: 10px 8px 10px 0;
}
.contact-info .btn-primary:hover {
    background: var(--accent-color);
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(255, 68, 68, 0.4);
}


.foot {
  color: whitesmoke;
  background: var(--bg-color) url('../assets/images/f62619904.svg') center/cover no-repeat ;
  background-color: black;
  font-size: 14px;
  text-align: center;
  padding: 65px 0;
  position: relative;
}

.foot h3 {
  font-size: 36px;
  font-weight: 700;
  position: relative;
  padding: 0;
  margin: 0 0 15px 0;
}

.foot p {
  font-size: 16px;
  font-style: italic;
  padding: 0;
  margin: 0 0 30px 0;
}
